# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidence to answer the following questions.

1. How many neighborhood groups are there and which shows up the most?
2. Are private rooms the most popular in Manhattan?
3. Who are the top 10 busiest hosts based on number of reviews per month?
4. Which neighorhood group has the highest average price? Plot the average prices in a professional looking bar chart
5. What is the most expensive neighbourhood in each neighbourhood group?
6. Which host has the highest minimum rental? *minimal rental is based on price and minimum nights
7. Who currently has no (zero) availability with a review count of 100 or more?
8. If each host rents all of their properties for the night, which 5 make the most that night?
9. When did Danielle from Queens last receive a review?
10. Display a bar chart showing the number of each type of room in the Bronx

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this entire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to simulate what you will face when you are out in the wild. 

Happy Coding!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
air_bnb = pd.read_csv('./abnyc.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [14]:
# How many neighbourhood groups / which shows up the most
# There are 5 groups and Manhattan shows up the most with 21661
groups = air_bnb['neighbourhood_group'].value_counts()
print(groups)

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

In [15]:
# Are private rooms the most popular in Manhattan?
# No
air_bnb['room_type'].value_counts()

Entire home/apt    25409
Private room       22326
Shared room         1160
Name: room_type, dtype: int64

In [28]:
# Who are the top 10 busiest hosts based on number of reviews per month?
# Row NYC,Louann, Nalicia, Danielle, Brent, Lakshmee, Dona, Alina, Sam, Yvonne
air_bnb.sort_values('reviews_per_month', ascending=False).head(20)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
42075,32678719,Enjoy great views of the City in our Deluxe Room!,244361589,Row NYC,Manhattan,Theater District,40.75918,-73.98801,Private room,100,1,156,2019-07-07,58.50,9,299
42076,32678720,Great Room in the heart of Times Square!,244361589,Row NYC,Manhattan,Theater District,40.75828,-73.98876,Private room,199,1,82,2019-07-07,27.95,9,299
38870,30423106,Lou's Palace-So much for so little,228415932,Louann,Queens,Rosedale,40.65417,-73.74158,Private room,45,1,37,2019-07-08,20.94,1,134
27287,21550302,JFK Comfort.5 Mins from JFK Private Bedroom & ...,156684502,Nalicia,Queens,Springfield Gardens,40.66110,-73.76830,Private room,80,1,403,2019-07-06,19.75,3,26
28651,22176831,JFK 2 Comfort 5 Mins from JFK Private Bedroom,156684502,Nalicia,Queens,Springfield Gardens,40.66158,-73.77050,Private room,50,1,341,2019-07-08,17.82,3,25
29628,22750161,JFK 3 Comfort 5 Mins from JFK Private Bedroom,156684502,Nalicia,Queens,Springfield Gardens,40.66298,-73.77000,Private room,50,1,302,2019-07-06,16.81,3,26
20403,16276632,Cozy Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76335,-73.87007,Private room,48,1,510,2019-07-06,16.22,5,341
22469,18173787,Cute Tiny Room Family Home by LGA NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76380,-73.87238,Private room,48,1,436,2019-07-08,16.03,5,337
36238,28826608,“For Heaven Cakes”,217379941,Brent,Queens,Springfield Gardens,40.66457,-73.76918,Entire home/apt,75,1,132,2019-07-05,15.78,1,28
40297,31249784,Studio Apartment 6 minutes from JFK Airport,232251881,Lakshmee,Queens,Jamaica,40.66793,-73.78452,Private room,67,1,95,2019-07-05,15.32,8,145
40036,31090222,6 Minutes From JFK Airport Cozy Bedroom,232251881,Lakshmee,Queens,Jamaica,40.66800,-73.78477,Private room,30,1,98,2019-06-26,15.23,8,189
42077,32678721,Nice Room 1 block away from Times Square action!,244361589,Row NYC,Manhattan,Theater District,40.75783,-73.98908,Private room,100,1,38,2019-07-04,14.62,9,295
11759,9145202,Room near JFK Queen Bed,47621202,Dona,Queens,Jamaica,40.66730,-73.76831,Private room,47,1,629,2019-07-05,14.58,2,333
21517,17222454,Sun Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76367,-73.87088,Private room,48,1,417,2019-07-07,14.36,5,338
44764,34392081,Hello! This is a very cozy space in Williamsburg.,259630588,Alina,Brooklyn,Williamsburg,40.71863,-73.94980,Private room,100,1,28,2019-06-26,14.00,2,20
46937,35495582,★ AMAZING★ TIME SQUARE/ 2 Bedroom 3 Bed Apart...,266992480,Sam,Manhattan,Hell's Kitchen,40.76573,-73.98897,Entire home/apt,500,3,14,2019-07-07,14.00,2,45
21879,17587000,Private bedroom 8 mins-JFK&The Mall,55125246,Yvonne,Queens,Jamaica,40.68638,-73.79007,Private room,65,1,347,2019-07-06,13.48,3,159
7086,5115372,Comfy Room Family Home LGA Airport NO CLEANING...,26432133,Danielle,Queens,East Elmhurst,40.76374,-73.87103,Private room,54,1,430,2019-07-03,13.45,5,347
46057,35055076,Balcony with Room! Close to LGA and JFK.,256290334,Aisling,Queens,Richmond Hill,40.70254,-73.83220,Private room,65,1,17,2019-07-05,13.42,1,157
13495,10101135,Room Near JFK Twin Beds,47621202,Dona,Queens,Jamaica,40.66939,-73.76975,Private room,47,1,576,2019-06-27,13.40,2,173

In [31]:
# Which neighborhood group has the highest avg price and plot the average prices in a bar chart
# Manhattan	196.875814
air_bnb.groupby('neighbourhood_group').mean()[['price']].sort_values('price', ascending=False)

                          price
neighbourhood_group
Manhattan            196.875814
Brooklyn             124.383207
Staten Island        114.812332
Queens                99.517649
Bronx                 87.496792

In [42]:
# What is the most expensive neighbourhood in each neighbourhood_group
air_bnb.groupby('neighbourhood').count()

,id,name,host_id,host_name,neighbourhood_group,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood,,,,,,,,,,,,,,,
Allerton,42,42,42,42,42,42,42,42,42,42,42,37,37,42,42
Arden Heights,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Arrochar,21,21,21,21,21,21,21,21,21,21,21,20,20,21,21
Arverne,77,77,77,77,77,77,77,77,77,77,77,66,66,77,77
Astoria,900,900,900,900,900,900,900,900,900,900,900,709,709,900,900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Windsor Terrace,157,157,157,157,157,157,157,157,157,157,157,128,128,157,157
Woodhaven,88,88,88,88,88,88,88,88,88,88,88,72,72,88,88
Woodlawn,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11
Woodrow,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1
Woodside,235,235,235,235,235,235,235,235,235,235,235,170,170,235,235

In [76]:
# Which host has the highest minimum rental? *minimal rental is based on price and minimum nights
# 현선
air_bnb.groupby('host_name').sum()[['minimum_nights', 'price']]

                          minimum_nights  price
host_name
'Cil                                   2    120
(Ari) HENRY LEE                        7    140
(Email hidden by Airbnb)              15   1060
(Mary) Haiy                            1    126
-TheQueensCornerLot                    1    150
...                                  ...    ...
단비                                     1    150
빈나                                     4    125
소정                                    36    103
진                                     15     70
현선                                    60   1200

[11452 rows x 2 columns]

In [74]:
# Who has no (zero) availability with a review count of 100 or more
air_bnb[(air_bnb['number_of_reviews']>99) & (air_bnb['availability_365'] == 0)]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
12908,9824042,21st Floor Bedroom in Doorman & Elevator Building,24175837,Greg,Manhattan,Kips Bay,40.74423,-73.97742,Private room,69,4,107,2019-04-15,2.50,2,0
973,387735,LOCATION LOCATION LOCATION Sara's,1146958,Liz,Manhattan,Gramercy,40.73677,-73.98084,Entire home/apt,125,30,128,2019-06-11,1.46,4,0
9976,7675781,JFK 10 & LGA 15 MINUTES AWAY A/C PRIVATE BED...,22959695,Gurpreet Singh,Queens,Richmond Hill,40.69463,-73.82610,Private room,50,1,408,2018-11-24,8.56,5,0
23260,18837416,*Luxury 1 Bedrm Private Designer Home & Roofdeck*,3203397,Brian,Manhattan,West Village,40.73321,-74.00242,Entire home/apt,350,1,105,2019-05-26,4.63,1,0
4945,3544828,PrivateRoom in Beautiful Brownstone,17224426,Jillian,Brooklyn,Bedford-Stuyvesant,40.68643,-73.92208,Private room,56,2,180,2019-01-02,3.04,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5873,4280053,Clean Room by Metro/Subway -15mns to Manhattan,20243795,Tony,Brooklyn,Bedford-Stuyvesant,40.68206,-73.95441,Private room,80,2,100,2019-06-27,1.73,3,365
22011,17707963,"5mins from JFK, one cozy bedroom for one",119592255,Kevin,Queens,Jamaica,40.68090,-73.78196,Private room,50,1,173,2019-07-07,6.15,2,365
8363,6428482,2C Private Rm in Guesthouse Manhattan,7831209,Bobi,Manhattan,East Harlem,40.80749,-73.93803,Private room,50,1,103,2019-05-31,2.07,10,365
235,60611,SpaHa Studio Monthly Rental,292204,Blanca,Manhattan,East Harlem,40.79163,-73.94573,Entire home/apt,125,28,183,2018-09-29,1.83,2,365
2285,1098863,Great Bushwick Studio Apartment,2413714,Wilfredo,Brooklyn,Bushwick,40.69305,-73.90398,Entire home/apt,125,2,116,2019-07-04,1.55,1,365

In [54]:
# If each host rents all of their properties for the night, which 5 make the most that night?
# Olson	9999.0
# Rum	8500.0
# Jay And Liz	6000.0
# Sarah-B	5000.0
# Sarah-2	5000.0
air_bnb.groupby('host_name').mean()[['price']].sort_values('price', ascending=False).head(5)

              price
host_name
Olson        9999.0
Rum          8500.0
Jay And Liz  6000.0
Sarah-B      5000.0
Sarah-2      5000.0

In [63]:
# When did Danielle from Queens last receive a review?
# 2019-07-08
air_bnb[(air_bnb['host_name'] == 'Danielle') & (air_bnb['neighbourhood_group']== 'Queens')].sort_values('last_review', ascending=False)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
22469,18173787,Cute Tiny Room Family Home by LGA NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76380,-73.87238,Private room,48,1,436,2019-07-08,16.03,5,337
21517,17222454,Sun Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76367,-73.87088,Private room,48,1,417,2019-07-07,14.36,5,338
20403,16276632,Cozy Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76335,-73.87007,Private room,48,1,510,2019-07-06,16.22,5,341
22068,17754072,Bed in Family Home Near LGA Airport,26432133,Danielle,Queens,East Elmhurst,40.76389,-73.87155,Shared room,38,1,224,2019-07-06,7.96,5,80
7086,5115372,Comfy Room Family Home LGA Airport NO CLEANING...,26432133,Danielle,Queens,East Elmhurst,40.76374,-73.87103,Private room,54,1,430,2019-07-03,13.45,5,347
33861,26814763,One bedroom with full bed / 1 stop from Manhattan,201647469,Danielle,Queens,Long Island City,40.74565,-73.94699,Private room,108,2,13,2019-06-20,1.74,1,333
27021,21386105,Quiet & clean 1br haven with balcony near the ...,154256662,Danielle,Queens,Astoria,40.77134,-73.92424,Entire home/apt,250,3,1,2018-01-02,0.05,1,180
16349,13151075,ASTORIA APARTMENT OUTDOOR SPACE,18051286,Danielle,Queens,Astoria,40.77221,-73.92901,Private room,50,1,0,NaN,NaN,1,0

In [67]:
# bar chart showing the number of room types in the Bronx
air_bnb.groupby('room_type').count()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
room_type,,,,,,,,,,,,,,,
Entire home/apt,25409,25402,25409,25400,25409,25409,25409,25409,25409,25409,25409,20332,20332,25409,25409
Private room,22326,22318,22326,22314,22326,22326,22326,22326,22326,22326,22326,17665,17665,22326,22326
Shared room,1160,1159,1160,1160,1160,1160,1160,1160,1160,1160,1160,846,846,1160,1160

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --